### 미션: 숫자 리스트의 모든 요소를 제곱한 후 새로운 리스트로 반환하기

In [1]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

### 미션: 학생들의 이름과 점수가 있는 딕셔너리에서, 점수가 70점 이상인 학생들만 출력

In [1]:
students = {'Alice': 85, 'Bob': 67, 'Charlie': 72, 'David': 90}
passed_students = {name : score for name, score in students.items() if score >= 70}
print(passed_students)

{'Alice': 85, 'Charlie': 72, 'David': 90}

### 미션: 두 숫자의 합을 계산하는 함수를 작성

In [3]:
def add_numbers(num1, num2):
    return num1 + num2

result = add_numbers(10, 20)
print(result)

30

### 미션: 텍스트 파일을 읽고, 파일의 각 줄을 역순으로 출력하세요.
*  2~3줄의 문장이 들어있는 간단한 sample.txt 파일을 만들어주세요

In [4]:
with open('sample.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()
    reversed_lines = [line.strip()[::-1] for line in lines]
    for line in reversed_lines:
        print(line)

녕안
워가반
썬이파

In [ ]:
# 미션: CSV 파일을 읽고, 'column_name' 열의 평균값을 계산하세요.
# 먼저 data.csv파일을 만드는 코드셀을 실행하세요

In [5]:
import csv

# 데이터 정의
data = [
    ['column_group', 'column_name', 'other_column'],
    ['A', 10, 5],
    ['B', 20, 15],
    ['D', 30, 25],
    ['C', 40, 35],
    ['A', 50, 45],
    ['C', 60, 55],
    ['A', 70, 65],
    ['D', 80, 75],
    ['B', 90, 85],
    ['B', 100, 95]
]

# 파일 쓰기
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("data.csv 파일이 성공적으로 생성되었습니다.")

data.csv 파일이 성공적으로 생성되었습니다.

In [6]:
import pandas as pd

df = pd.read_csv('data.csv')
average_value = df['column_name'].mean()
print(average_value)

55.0

In [ ]:
# 미션: 데이터 프레임에서 특정 조건('column_name'열 중 50초과)을 만족하는 행만 선택하세요.

In [7]:
filtered_df =  df[df['column_name'] > 50]
print(filtered_df)

  column_group  column_name  other_column
5            C           60            55
6            A           70            65
7            D           80            75
8            B           90            85
9            B          100            95

In [ ]:
# 미션: 데이터 프레임을 'column_group' 열에 의해 그룹화하고, 그룹별 합계를 계산하세요.

In [8]:
grouped_df = df.groupby('column_group').sum()
print(grouped_df)

              column_name  other_column
column_group
A                     130           115
B                     210           195
C                     100            90
D                     110           100

In [9]:
# 미션8: 로또 번호 생성기
# 주제: 1부터 45까지의 숫자 중에서 랜덤으로 6개의 로또 번호를 생성하는 프로그램을 작성하세요.
# 요구사항: 6개의 숫자가 중복되지 않도록 랜덤으로 생성합니다.

import random

def generate_lotto_numbers():
    # 1부터 45까지의 숫자 리스트 생성
    all_numbers = list(range(1, 46))
    
    # 중복되지 않는 6개의 숫자 무작위 선택
    lotto_numbers = random.sample(all_numbers, 6)
    
    return lotto_numbers

# 함수 호출하여 로또 번호 생성
lotto_result = generate_lotto_numbers()

# 결과 출력
print(f"생성된 로또 번호: {lotto_result}")

생성된 로또 번호: [12, 14, 30, 28, 21, 24]

In [10]:
# 미션9: 숫자 맞추기 게임
# 주제: 컴퓨터가 1에서 100 사이의 랜덤 숫자를 선택하고, 사용자가 이를 맞추는 게임을 만드세요.
# 요구사항: 사용자가 숫자를 입력하면, 컴퓨터가 더 큰지 작은지를 알려주고, 맞출 때까지 반복합니다.
import random

def guess_the_number():
    # 랜덤 숫자 선택
    goal_num = random.randint(1, 100)
    max_count = 5  # 기회는 5번

    print("=" * 5, "숫자 맞추기 게임", "=" * 5)
    print(f"게임 방법) 1 ~ 100 사이의 숫자를 입력해 주세요. 기회는 {max_count}회 입니다.")

    for count in range(1, max_count + 1):
        in_num = int(input(f"{count}번째 숫자를 입력하세요: "))

        if in_num < goal_num:
            print("> 숫자가 작습니다.")
        elif in_num > goal_num:
            print("> 숫자가 큽니다.")
        else:
            print(f"> 정답입니다!!! {count}회 맞춤")
            break
    else:
        print("> 실패하셨습니다. 정답은", goal_num)

# 게임 실행
guess_the_number()

===== 숫자 맞추기 게임 =====
게임 방법) 1 ~ 100 사이의 숫자를 입력해 주세요. 기회는 5회 입니다.
> 숫자가 작습니다.
> 숫자가 작습니다.
> 숫자가 큽니다.
> 숫자가 작습니다.
> 숫자가 작습니다.
> 실패하셨습니다. 정답은 76

In [11]:
# 미션10: 구구단 출력기
# 주제: 2단부터 9단까지의 구구단을 출력하는 프로그램을 작성하세요.
# 요구사항: 2단부터 9단까지의 곱셈 결과를 출력합니다.
def print_multiplication_table():
    for i in range(2, 10):
        print(f"{i}단:")
        for j in range(1, 10):
            print(f"{i} x {j} = {i * j}")
        print()

# 함수 호출하여 구구단 출력
print_multiplication_table()

2단:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81